* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

#slider {
  margin: 0 auto;
  border-radius: 5px;
  background: #E0E0E0;
  background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 15px;
  margin: 5px 5px 20px 5px;
}

#thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 150px;
  top: -5px;
  background: blue;
  cursor: pointer;
}
@media (max-width: 575px){
  #thumb {
    width: 15px;
    height: 30px;
    top: -7.5px;
  }
}
